/* ./src/index.css */

@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    @font-face {
        font-family: "Lato";
        font-weight: 700;
        src: url(assets/fonts/Lato-Bold.ttf) format("ttf");
    }
    @font-face {
        font-family: "DancingScript";
        font-weight: 700;
        src: url(assets/fonts/DancingScript-Bold.ttf) format("ttf")
    }
    h1 {
        @apply text-2xl;
    }
    h2 {
        @apply text-xl;
    }
    p {}
}

@layer components {}

body {}

div, h1, p, ul, li, button {
    transition: 1s ease;
}

.banner, .banner-div-animation, .body-background {
    background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
}

.body-content {
    border-radius: 1rem;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    padding: 2.5rem;
}

@media(max-width:768px) {
    .list-navbar {
        display: none;
    }
}

.banner-div-animation {
    animation: fadeIn 3s;
    -webkit-animation: fadeIn 3s;
    -moz-animation: fadeIn 3s;
    -o-animation: fadeIn 3s;
    -ms-animation: fadeIn 3s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.banner-heading-name {
    overflow: hidden;
    /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange;
    /* The typewriter cursor */
    white-space: nowrap;
    /* Keeps the content on a single line */
    /* margin: 0 auto; */
    /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em;
    /* Adjust as needed */
    animation: typing 2s steps(22, end), blink-caret .75s step-end infinite;
}

/* The typing effect */

@keyframes typing {
    from {
        width: 0
    }
    to {
        width: 100%
    }
}

/* The typewriter cursor effect */

@keyframes blink-caret {
    from, to {
        border-color: transparent
    }
    50% {
        border-color: orange;
    }
}

.shim-green {
    position: relative;
    overflow: hidden;
    /*background-color: rgba(0, 255, 0, 0.7);
    */
}

.shim-green::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
    background-image: linear-gradient( 90deg, rgba(233, 233, 233, 1) 0, rgba(233, 233, 233, 0.9) 50%, rgba(233, 233, 233, 0.8) 100%);
    animation: shimmer 2s ease-out infinite;
    content: "";
}

@keyframes shimmer {
    100% {
        transform: translateX(0%);
        opacity: 0;
    }
}